body {
  background-color: rgba(47, 24, 147, 1);
  height: 100%;
  overflow: hidden;
  font-family: 'DM Sans';
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(47, 24, 147, 1);
}
.bg-red {
  background-color: rgba(235, 234, 237, 1);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 35%;
  height: 441px;
  margin-right: 60px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.card-container {
  width: 50%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
